body {
    color: #000000;
    margin: 0;
    padding: 1em 5em 0 5em;
    background: #fff;
    margin: 0 auto;
}

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: green;
}

.blog-title {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 43px;
    animation: 2.5s anim-flipX ease infinite;
    font-family: Georgia, "Times New Roman", Times, Helvetica, Arial, serif;
}

@keyframes anim-flipX {
    0% {
        opacity: 0;
        transform: rotateX(90def);
    }

    50% {
        opacity: 1;
        transform: rotateX(720deg);
    }

    100% {
        /* animate nothing to pause animation at the end */
        opacity: 1;
        transform: rotateX(720deg);
    }
}

.blog-description {
    font-size: 1.5em;
    font-weight: lighter;
    color: #575757;
    margin: 0.4em 0 0.25em 1em;
}

.page-navi {
    font-size: 1.1em;
    padding: 0.5em 0 1em 0;
}

#content {
    width: 55em;
    float: left;
}

.post-main {
    border-bottom: 1px solid #e1e1e1;
}

.post-info {
    height: 1%;
}

.post-content {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    padding: 0.1em 0;
}

#sidebar {
    float: left;
    width: 18em;
    margin: 0 0 0 2em;
    padding: 0;
    font-size: 1.1em;
}

#sidebar li {
    list-style-type: none;
    margin-bottom: 3em;
}

#footer {
    background: #ebf7ff;
    border-top: 1px solid #c1e4fd;
    border-bottom: 1px solid #c1e4fd;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
}